/*
    CSS propio para sobreescribir estilos
*/

input[type="text"]:valid, input[type="email"]:valid, input[type="url"]:valid, input[type="date"]:valid {
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78,115,223,0.25);
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="url"]:focus:invalid, input[type="date"]:invalid {
    background-color: #fff;
    border-color: #e74a3b;;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(271,73,59,0.63);
}

.altura-vp{
  min-height:100vh;
}

/*Imagen de login en index principal*/
.bg-login-image {
    background: url("../img/music2.jpg");
    background-position: center;
    background-size: cover;
}

/*Imagen de crear nuevo disco*/
.bg-register-image {
  background: url("../img/newdisc.jpg");
  background-position: center;
  background-size: cover;
  filter:grayscale(0.3);
}

/*Imagenes de cover de las tablas*/
table td:nth-child(2){text-align: center;}
table img {
  width: 100px;
  height: 100px;
  border-radius:50%;
}

#container-image img {
 max-width:100%;
 height:auto;
}

.bg-video{
  background: url("https://gcs-vimeo.akamaized.net/exp=1574872588~acl=%2A%2F927072624.mp4%2A~hmac=5b0e910aa1cbbad2f152399d703479f972cbe03d1beec46e7ab0dd2edf931c3d/vimeo-prod-skyfire-std-us/01/829/10/254146891/927072624.mp4");
  background-size: cover;
  background-repeat: no-repeat;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.overlay{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
background-color:rgba(0,0,0,0.5);

}